<h1>Новая Задача</h1>

<%= form_for @todo, id: '#form', :url => url_for(:controller => 'todos', :action => 'create') do |f| %>
  <%= f.text_field :text, placeholder: 'Название задачи...' %><br>
  <%= f.collection_select(:project_id, @projects, :id, :title) %><br>
  <%= link_to 'ОТМЕНА', '#', :id => 'hide_new' %>
  <%= link_to 'OK', "#", id: 'ok_button' %>
<% end %>