<h1>Задачи</h1>

<h1><%= link_to '+', '#', :id => 'show_new' %></h1>

<% @projects.each do |project| %>
    <h2><%= project[:title] %></h2>
    <ul>
      <% project.todos.each do |todo| %>
        <li><%= todo[:text] %></li>
      <% end %>
    </ul>
<% end %>


<div id="new_todo" style="display: none;">
  <%= render 'new' %>
</div>
